{% extends "base.html" %}
{% set title = "Close Sub-Account" %}
{% block body %}
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>
<form name="frmFind" method="get" action="/closeAccount.do">
  <table border="0" cellspacing="0" cellpadding="2"><tr>
    <td>{{ brand.lbl_mem }}</td>
    <td><input type="text" name="memNo" size="10" maxlength="6" value="{{ m.mem_no if m else '' }}"></td>
    <td><input type="submit" class="btn" value="Go"></td>
  </tr></table>
</form>
</td></tr>
{% if m %}
<tr><td>
<form name="frmClose" method="post" action="/closeAccountReason.do">
<input type="hidden" name="pageSeq" value="{{ seq }}">
  <table width="100%" class="grid" cellspacing="0">
  <tr><th colspan="4" align="left">{{ m.first_name|upper }} {{ m.last_name|upper }} &mdash; Open Accounts</th></tr>
  <tr><th>&nbsp;</th><th>Account No.</th><th>Account Type</th><th>Balance</th></tr>
  {% for a in accts %}
  <tr><td><input type="radio" name="acctNo" value="{{ a.acct_no }}"></td><td>{{ a.acct_no }}</td>
      <td>{{ a.acct_type }}</td><td align="right">{{ a.balance_cents|money }}</td></tr>
  {% endfor %}
  </table>
  <br><input type="submit" class="btn" value="Proceed">
</form>
</td></tr>
{% endif %}
</table>
{% endblock %}
