<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ brand.name }} - Internet Banking</title>
</head>
<frameset rows="96,*" border="0" frameborder="0" framespacing="0">
  <frame src="/banner.do" name="topFrame" scrolling="no" noresize>
  <frameset cols="190,*" border="1" frameborder="1">
    <frame src="/menu.do" name="leftFrame" scrolling="auto">
    <frame src="/memberSearch.do" name="mainFrame" scrolling="auto">
  </frameset>
  <noframes><body>Your browser does not support frames. Please upgrade to Internet Explorer 6.0.</body></noframes>
</frameset>
</html>
