<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/static/{{ brand.css }}">
</head>
<body class="menu">
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>
  <table width="100%" border="0" cellspacing="1" cellpadding="4">
  <tr><td class="menuhdr">Member Services</td></tr>
  <tr><td><img src="/static/bullet.svg" width="7" height="7"> <a href="/memberSearch.do" target="mainFrame">Member Search</a></td></tr>
  <tr><td><img src="/static/bullet.svg" width="7" height="7"> <a href="/balanceEnquiry.do" target="mainFrame">Balance Enquiry</a></td></tr>
  <tr><td class="menuhdr">Accounts</td></tr>
  <tr><td><img src="/static/bullet.svg" width="7" height="7"> <a href="/openAccount.do" target="mainFrame">Open Sub-Account</a> <img src="/static/new.svg" width="30" height="12"></td></tr>
  <tr><td><img src="/static/bullet.svg" width="7" height="7"> <a href="/closeAccount.do" target="mainFrame">Close Sub-Account</a></td></tr>
  <tr><td class="menuhdr">Session</td></tr>
  <tr><td><img src="/static/bullet.svg" width="7" height="7"> <a href="/logout.do" target="_top">Logout</a></td></tr>
  </table>
</td></tr></table>
</body>
</html>
