{% extends "base.html" %}
{% set title = "Open Sub-Account" %}
{% block body %}
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>
<form name="frmOpenAc" method="post" action="/openAccountReview.do">
<input type="hidden" name="pageSeq" value="{{ seq }}">
  <table width="600" class="grid" cellspacing="0">
  <tr><th colspan="2" align="left">Sub-Account Opening Request</th></tr>
  {% if error %}<tr><td colspan="2" class="err">{{ error }}</td></tr>{% endif %}
  <tr><td colspan="2">
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr><td width="35%">{{ lbl("cifId", "A/c Holder ID") }} <span class="err">*</span></td>
        <td><input type="text" {{ fid("cifId") }} name="cifId" size="10" maxlength="6" value="{{ f.cifId }}"></td></tr>
    <tr><td>{{ lbl("acctType", "Type of A/c") }} <span class="err">*</span></td>
        <td><select {{ fid("acctType") }} name="acctType"><option value="">--Select--</option>
        {% for t in sub_types %}<option{% if f.acctType == t %} selected{% endif %}>{{ t }}</option>{% endfor %}
        </select></td></tr>
    <tr><td>{{ lbl("openAmt", brand.lbl_deposit ~ " ($)") }} <span class="err">*</span></td>
        <td><input type="text" {{ fid("openAmt") }} name="openAmt" size="12" value="{{ f.openAmt }}"></td></tr>
    <tr><td>{{ lbl("fundSrc", "Funding Source") }} <span class="err">*</span></td>
        <td><select {{ fid("fundSrc") }} name="fundSrc"><option value="">--Select--</option>
        {% for s in funding %}<option{% if f.fundSrc == s %} selected{% endif %}>{{ s }}</option>{% endfor %}
        </select></td></tr>
    {% if brand.branches %}
    <tr><td>{{ lbl("brCode", "Branch Code") }} <span class="err">*</span></td>
        <td><select {{ fid("brCode") }} name="brCode"><option value="">--Select--</option>
        {% for b in brand.branches %}<option{% if f.brCode == b %} selected{% endif %}>{{ b }}</option>{% endfor %}
        </select></td></tr>
    {% endif %}
    <tr><td>{{ lbl("nomName", "Nominee Name") }}</td><td><input type="text" {{ fid("nomName") }} name="nomName" size="30" value="{{ f.nomName }}"></td></tr>
    <tr><td>{{ lbl("txtRemarks", "Notes") }}</td><td><textarea {{ fid("txtRemarks") }} name="txtRemarks" rows="3" cols="40">{{ f.notes }}</textarea></td></tr>
    </table>
  </td></tr>
  <tr><td colspan="2" align="center">
    <input type="submit" class="btn" value="Submit">&nbsp;<input type="reset" class="btn" value="Reset">
  </td></tr>
  </table>
</form>
<p class="small"><span class="err">*</span> Mandatory fields</p>
</td></tr></table>
{% endblock %}
